body {
  background-color: plum;
}

.heading {
  font-weight: bolder;
  font-size: 35px;
}

.login-link {
  float: right;
}

.center {
  text-align: center;
  justify-content: center;
}

.App-button {
  color: mediumblue;
  text-align: center;
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.show-body {
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 30%;
}

.App-header {
  background-color: #8a89be;
  height: 475px;
  padding: 20px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

cite {
  font-weight: bold;
}

table {
  align-content: center;
  margin: auto;
}

td {
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.cap-first-letter:first-letter {
  text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
  border: 1px;
}

.showlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #1e8678;
  text-decoration: none !important;
}

.showlink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

li {
  padding: 20px;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul a {
  color: #1e8678;
  text-decoration: none !important;
}

ul a:hover {
  background-color: transparent;
  color: blue;
}

ul {
  list-style: none;
}

.contact {
  background-color: plum;
  width: 70vw;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#success {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

.about {
  background-color: plum;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  width: 70vw;
  text-align: justify;
}

.links {
  color: black;
  font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: plum;
  color: black;
  text-align: center;
}

ul li {
  text-align: left;
  line-height: 0.5mm;
}
